<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
  <div id="login">
    <div class="sample-box-6">
      <h1 class="text-center text-black pt-5">To doったー</h1>
      <img src="/image/sketchbook.png" class="sketchbook" />
      <h3 class="text-center text-black pt-5">To doったーを始めましょう</h3>
      <div class="btn-wrapper">
        <a href="/login" class="btn login" style="text-decoration:none;">ログイン</a>
        <a href="/signup" class="btn signup" style="text-decoration:none;">サインアップ</a>
      </div>
    </div>
</body>