<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="login">
      <div class="container">
        <h1 class="text-center text-black pt-5">ログアウトしました</h1>
        <a class="text-center text-black pt-5" href="/">トップへ戻る</a>
      </div>
    </div>
</body> 





